* {
    margin: 0 auto;
    padding: 0 auto;
}

$primary-green: #2CFCEF;
$secondary-pink: #FA23E2; 
$tertiary-black: #333;

.title {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

body {
    background-color: $tertiary-black;
}

.Cell {
    background-color: $primary-green;

    &-lit {
    background-color: $secondary-pink;
}
}

td {
    width: 100px;
    height: 100px;
}