* {
  margin: 0 auto;
  padding: 0 auto; }

.title {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em; }

body {
  background-color: #333; }

.Cell {
  background-color: #2CFCEF; }
  .Cell-lit {
    background-color: #FA23E2; }

td {
  width: 100px;
  height: 100px; }
